
*{
    margin: 0;
    padding: 0;
  }

body{
    background: #020a18;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
  
      }
      .center{
        padding-left: calc(50% - 573px);
        padding-right: calc(50% - 573px);

      }

.top{
    flex-wrap: wrap;
    
    padding-bottom: 99px;
    

}
.header{
    margin-bottom: 160px;
}

.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 39px;
    padding-bottom: 39px;
    gap: 128px;
    
}
.header-link{
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
    text-align: left;
    text-decoration: none;
    list-style-type: none;
color: #fff;
}
.top-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 197px;
    gap: 10px;
    
}
.top-info{
    margin-right: 128px;
}

.text{
    color: #3868b8;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: left;


}
.title{
    font-family: "Open Sans", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 55px;
    line-height: 71.5px;
    text-align: left;
    color: #fff;
    margin-bottom: 40px;
}

.sub-title{
    color: #fff;
    margin-bottom: 50px;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: left;
}

.top-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button-start{
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: #3a68b8;
    max-width: 171;
    max-height: 57px;
    padding: 15px 30px;
    border-radius: 5px;
    line-height: 27.24px;
    text-align: left;

}

.button-video{
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #3a68b8;
    max-width: 217px;
    max-height: 57px;
    padding: 10px 30px;
    border-radius: 5px;
    line-height: 27.24px;
    text-align: left;
    gap: 10px;

}



.top-logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #333237;
    justify-content: space-between;
    gap: 10px;
    
}